.gradient-border-wrapper {
  position: relative;
  background: conic-gradient(from 90deg,
    hsl(300, 50%, 50%) 0%,
    hsl(210, 80%, 50%) 40%, 
    deeppink 75%,
    hsl(300, 50%, 50%) 90%,
    hsl(300, 50%, 50%) 100%
  );
  padding: 2px;
}

.gradient-border-cover {
  background: var(--main-bg-color);
  filter: none;
}